.sidenav-container {
  height: 100%;
}

.mat-toolbar.mat-primary{
  background: rgba(80,158,47,1);
}
.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    /* overflow: hidden; */
}
.mat-drawer-container{
  overflow: initial;
}
.mat-sidenav-content{
  height: -moz-available;
}
.mat-sidenav-content::before {
    position: absolute;
    content: '';
    background: url(/assets/47320.svg); /*partially transparent image*/
    background-repeat: no-repeat;
    background-position: 60px 30px;
    opacity: 0.05;
    z-index:1;
    width: -webkit-fill-available;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    pointer-events: none;
}
